.weeklySummaryContainer {
  font-size: 20px;
  font-weight: 400;
  line-height: 30.02px;
  letter-spacing: 0.1em;
  flex: 1;
  padding-inline: 5px;
  padding-bottom: 33px;
  padding-top: 55px;
}

.paddedInline,
.weeklySummaryTable > p {
  padding-inline: 75px;
}

.weeklySummaryContainer > p {
  margin-bottom: 55px;
}

.weeklySummaryTable > p {
  margin-bottom: 49px;
}
.weeklySummaryTable > div {
  overflow-x: auto;
  width: 100%;
}

.weeklySummaryTable > div > table {
  margin-bottom: 28px;
  margin-inline: auto;
  width: 95%; /* Ensures table takes full width */
  min-width: 700px;
}

.weeklySummaryContainer tr,
.weeklySummaryContainer td {
  padding: 0;
  max-width: 457px;
}

.weeklySummaryTable th {
  background-color: var(--green);
  color: white;
  font-size: 24px;
  font-weight: 600;
  line-height: 36.02px;
  padding-block: 20px;
}

.weeklySummaryContainer table {
  border-collapse: collapse;
}
.weeklySummaryContainer th:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.weeklySummaryContainer th:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.weeklySummaryContainer td {
  border: 1px solid rgba(205, 193, 193, 1);
  padding-block: 35px;
  font-weight: 600;
  color: black;
  text-align: center;
}

.weeklySummaryTable td,
.weeklySummaryTable th {
  word-wrap: break-word; /* Ensures text wrapping */
  word-break: break-word;
}

@media screen and (max-width: 1350px) {
  .paddedInline,
  .weeklySummaryTable > p {
    padding-inline: 15px;
  }

  .weeklySummaryTable th {
    padding-inline: 0px;
    font-size: 12px;
    line-height: 18.01px;
    letter-spacing: 0;
  }

  .weeklySummaryContainer td {
    font-size: 11px;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0;
  }

  .weeklySummaryContainer > p {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1000px) {
  .weeklySummaryTable > div > table {
    width: 100%; /* Ensures table takes full width */
  }
}
