.inputContainer,
.inputContainer > input {
  width: 100%;
}
.inputLabel {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  display: block;
}

.inputContainer > input,
.inputContainer .option,
.inputContainer .selectedOption {
  font-size: 18px;
  font-weight: 500;
}

.inputContainer > input,
.dropDownSelect {
  border-width: 0;
  border-radius: 8px;
  padding: 14px 10px;
  line-height: 20px;
  background: rgba(237, 237, 237, 1);
  min-height: 50px;
}

.formLabel,
.formInput {
  padding-left: 16px !important;
}
.formInput {
  background-color: var(--input-bg);
  color: var(--placeholder-gray);
  border: none !important;
}

.customSelect {
  position: relative;
}

.inputContainer option {
  appearance: none;
}

.dropDownIcon {
  position: absolute;
  right: 10px;
  top: 10px;
}

.rotate {
  transform: rotate(180deg);
}

.optionContainer {
  display: flex;
  position: absolute;
  flex-direction: column;
  border: 1px solid var(--border-gray);
  border-radius: 4px;
  margin-top: 8px;
  z-index: 1000;
  background: white;
  width: 100%;
}

.option {
  padding: 10px;
  border-bottom: 1px solid var(--border-gray);
  cursor: pointer;
}

.option:last-child {
  border: none;
}

.error {
  color: red;
}

.inputContainer input.inputError {
  border: 1px solid red !important;
  margin-bottom: 5px;
}

.selected {
  background: var(--green);
  color: white;
}
