.homeContainer {
  padding-block: 105px;
  padding-inline: 47px;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: var(--tip-text-gray);
  display: flex;
  flex-direction: column;
  gap: 101px;
}

.title {
  font-size: 30px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
}

.singleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 160px;
}

.singleRow .title {
  text-align: left;
}

.reversed {
  flex-direction: row-reverse;
}

@media screen and (max-width: 750px) {
  .homeContainer {
    padding-inline: 24px;
  }

  .singleRow {
    flex-direction: column;
  }
}
