.formWrapper {
  width: 50vw;
  background: white;
}

.formContainer {
  display: flex;
  flex-direction: column;
  max-width: 457px;
  margin-inline: auto;
  height: 100%;
  overflow-y: auto; /* Only this container should scroll */
  padding-top: 24px;
  padding-bottom: 89px;
  justify-content: center;
}

/* Hide scrollbar for WebKit browsers */
.formContainer::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

/* Firefox */
.formContainer {
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

/* Hide scrollbar in IE/Edge */
.formContainer {
  -ms-overflow-style: none; /* IE and Edge */
}
.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.form > div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.formContainer > div:nth-of-type(1) {
  padding-bottom: 44px;
  align-self: center;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}

.terms {
  display: flex;
  gap: 14px;
  font-weight: 400;
  font-size: 16px;
  align-items: center;
}

.formContainer a {
  color: var(--green);
  cursor: pointer;

  text-decoration: underline;
}

/* LOGIN */

.forgot {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: rgba(77, 77, 77, 1);
  text-decoration: underline;
}

.noAccount {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.30000001192092896px;
  padding: 0;
  margin: 0;
}

.or {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.30000001192092896px;
  text-align: center;
}
.socialLogin {
  display: flex;
  gap: 32px;
}

/*  */

/* Reset */
.resetText {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}

.backIcon {
  display: flex;
  align-items: center;
  padding-left: 33px;
  padding-top: 22px;
  color: var(--green);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  gap: 12px;
  cursor: pointer;
}
/*  */

/* Mobile view */
@media screen and (max-width: 1150px) {
  .formWrapper,
  .formContainer {
    width: 100vw;
  }

  .formWrapper {
    height: auto;
    overflow-y: visible; /* Enable full page scrolling on smaller screens */
  }

  .formContainer {
    height: auto;
    overflow-y: visible; /* Allow the form to expand naturally */
    padding-inline: 27.5px;
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .formContainer > div:nth-of-type(1) {
    font-size: 28px;
    padding-bottom: 43px;
  }

  .formContainer > div {
    display: flex;
    flex-direction: column;
  }

  .terms {
    padding-bottom: 42px;
  }
}

@media screen and (max-width: 390px) {
  .terms {
    font-size: 4vw;
  }
}
