.tipsContainer {
  display: flex;
  flex-direction: column;
  padding-block: 56px;
  padding-inline: 65px;
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
  /* letter-spacing: 1px; */
  text-align: left;
}
.tipHeader {
  display: flex;
  gap: 10px;
  margin-bottom: 76px;
}
.tipHeader > img {
  width: 328px;
  height: auto;
}

.tipTitle {
  font-size: 19px;
  font-weight: 700;
  line-height: 28px;
  border-bottom: 1px solid var(--green);
  width: fit-content;
  padding-bottom: 8px;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
}

.title {
  font-size: 48px;
  font-weight: 700;
  background-color: var(--green);
  color: white;
  border-radius: 5px;
  width: fit-content;
  font-size: 19px;
  font-weight: 700;
  line-height: 28px;
  padding-inline: 6px;
  padding-block: 10px;
  margin-bottom: 30px;
}

.tipList {
  display: flex;
  flex-direction: column;
  gap: 53px;
}

.tipBlock {
  margin-bottom: 171px;
}

.singleTipItem {
  display: flex;
  gap: 24px;
}
.singleTipItem.reversed {
  flex-direction: row-reverse;
}

.singleTipItem > div {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.header {
  font-size: 17px;
  font-weight: 700;
  line-height: 26px;
}

.singleTipItem > .content {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  white-space: pre-line;
}

.singleTipItem > .tipImg {
  width: auto;
  max-height: 170px;
}

.tipChart {
  margin-top: 235px;
  width: 942px;
  margin-inline: auto;
}

.chart {
  border-left: 1px solid var(--green);
  border-bottom: 1px solid var(--green);
  width: fit-content;
  padding-right: 20%;
  padding-top: 20%;
  margin: 12px;
}

.chart > div {
  border-radius: 50%;
  width: 98px;
  height: 98px;
  background: rgba(186, 217, 180, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.chart div:nth-of-type(3) {
  margin-left: 40px;
  margin-bottom: 40px;
}

.chart div:nth-of-type(2) {
  margin-left: 193px;
}
.chart div:nth-of-type(1) {
  margin-left: 340px;
}

.chartContainer > div:first-of-type {
  display: flex;
  align-items: flex-end;
}

.chartContainer > p:nth-of-type(1) {
  margin-left: -25px;
  margin-bottom: -10px;
}

.chartContainer > div > p:nth-of-type(1) {
  margin-top: -10px;
}

@media screen and (max-width: 1200px) {
  .tipsContainer {
    display: flex;
    flex-direction: column;
    padding-top: 17px;
    padding-inline: 24px;
  }
  .tipHeader {
    flex-direction: column;
  }

  .singleTipItem > .tipImg {
    width: auto;
    max-height: none;
  }
  .singleTipItem,
  .singleTipItem.reversed {
    flex-direction: column;
  }

  .tipBlock {
    margin-bottom: 40px;
  }

  .chart {
    border-left: 1px solid var(--green);
    border-bottom: 1px solid var(--green);
    width: fit-content;
    padding-right: 10px;
    padding-top: 10px;
    margin-top: 20px;
  }

  .chart > div {
    width: 88px;
    height: 88px;
  }

  .chart div:nth-of-type(3) {
    margin-left: 20px;
    margin-bottom: 40px;
  }

  .chart div:nth-of-type(2) {
    margin-left: 113px;
  }
  .chart div:nth-of-type(1) {
    margin-left: 210px;
  }
}
