.popUpContainer {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  color: #000;
}

.popUpContainer img {
  width: auto;
  height: min-content;
  align-self: center;
  margin-bottom: 10px;
}

.popUpButton {
  margin-inline: auto;
  max-width: 260px;
  margin-block: 36px;
}

.popUpContainer > .blueLine {
  color: rgba(19, 47, 65, 1);
}

.riskBody {
  font-size: 17px;
  font-weight: 400;
  line-height: 25.5px;
}

.riskBody span {
  color: black;
  font-weight: 600;
}

.riskBody div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  margin-top: 51px;
  margin-bottom: 31px;
  gap: 41px;
}

.btnContainer > p {
  font-weight: 600;
}

.btnContainer > div {
  display: flex;
  gap: 25px;
  max-width: 443px;
  flex-direction: row;
}
/*  */
.insufficientPopUp {
  gap: 0;
  padding-bottom: 36px;
}
.insufficientPopUp img {
  margin-bottom: 0;
}

.insufficientPopUp p {
  margin-bottom: 36px;
}

.insufficientPopUp div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

/*  */

/* Guest */

.singleContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
/*  */
@media screen and (max-width: 500px) {
  .btnContainer {
    align-items: center;
  }
  .btnContainer > div {
    flex-direction: column;
    max-width: 206px;
    width: 100%;
  }

  .attention > img {
    width: 25vw;
  }
}
