.termHeader {
  color: var(--green);
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
}

.termsContainer {
  display: flex;
  flex-direction: column;
  padding-top: 41px;
  padding-bottom: 110px;
  padding-inline: 85px;
}

.singleTerm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 72px;
  margin-bottom: 74px;
}

.termHeader {
  margin-bottom: 54px;
}

.reversed {
  flex-direction: row-reverse;
}

.singleTerm > img {
  width: 25%;
  padding: 1rem 0;
}

.textContainer > p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
}

.textContainer {
  flex: 1;
}

.textContainer > .header {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: var(--text-dark-blue);
}

.textContainer > .content {
  font-weight: 500;
  font-size: 17px;
  line-height: 25.5px;
  color: var(--text-gray);
}

@media screen and (max-width: 900px) {
  .termsContainer {
    padding-top: 7px;
    padding-bottom: 42px;
    padding-inline: 2.5px;
  }
  .singleTerm {
    flex-direction: column;
    gap: 2rem;
    padding-inline: 21px;
  }

  .singleTerm.termHeader {
    flex-direction: row;
    gap: 0;
    font-size: 20px;
  }

  .singleTerm.termHeader > img {
    width: 119px !important;
  }
  .singleTerm > img {
    width: 50% !important;
    padding: 0;
  }
  .textContainer > .content {
    font-size: 14px;
  }
  .textContainer > .header {
    font-size: 16px;
  }
}
