.porfolioContainer {
  padding-inline: 40px;
  padding-top: 12px;
}

.porfolioContainer > .contentTitle {
  font-weight: 500;
}

@media screen and (max-width: 720px) {
  .porfolioContainer {
    padding-inline: 0px;
  }
}
